{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["import", "react", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-unexpected-multiline": "error",
    "no-unused-vars": "warn",
    "react/display-name": "off"
  },
  "settings": {
    "react": {
      "version": "16.0"
    }
  }
}
